@font-face{
    font-family: aplicar-fuente;
    src:url('/fonts/Quicksand/Quicksand-VariableFont_wght.ttf'); /*ruta donde esta la font*/
    }
    
    
    /*aplico la fuente*/
    
    p{
    font-family: aplicar-fuente;
    }


html{
    box-sizing:border-box;
    font-size:16px;
    font-family:sans-serif;
    
}

::after,
::before {
    box-sizing: border-box;/*es para que los elementos ocupen todo el div sin dejar padding*/
    margin:0;
    padding:0;
}









/***************************ANIMACION en la rama llamada animaciones****************************/
.slider{
    animation-name:animacion; /* es el nombre que le coloque al keyframes*/
    animation-duration: 4s; /*la animacion tiene una duracion de 4seg*/
    animation-iteration-count:infinite;/*repite la animacion infinitamente*/
    animation-timing-function: ease-in;/*Disminuye la velocidad de la animación al comenzar y va aumentando la aceleración sobre el final.*/
    animation-direction: reverse; /*en lugar de empezar del 0%, empezara en el 100%*/
}

@keyframes animacion{
0%{

    background-color: blue; /*hacia el 0% el elemento sera azul*/
}

100%{
 background-color: burlywood; /*hacia el 100% el elemento sera beige*/
  
}

}
.slider:hover{
    animation-play-state: paused; /*al posar el mouse se detiene la animacion hasta que quite el mouse*/
}


/******************fin animacion con animation en la rama animacion**************************/

/***********************animacion con Transition en la rama animacion************************/

article p a img{
    Transition: width 4s, border-radius 1s; /*especifico a que propiedades le aplico el transition*/
}
article p a img:hover{
    Border-radius:50%; /*al pasar el mouse redondeo sus bordes a un 50%*/
    Width:500px; /*al pasar el mouse le cambio su tamaño a 500px*/
}    

/***********************fin de animacion con Transition en la rama animacion*****************/

/**********************aplicando transform a las palabras del footer***********************/

.menufooterhijo ul li:hover{
    Transform: scale(2,3); /*quiero que aumento dos veces de su tamaño en el eje x, tambien que aumente 3 veces su tamaño en el eje y. al pasar el mouse*/
}

/**********************fin de transform**************************************************/




/****************************creo el grid para celular**********************************/
.formindex{
    margin:0;
    padding:0;
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,auto);
    grid-template-areas: 
    "header         header          header          header "
    "slider         slider          slider          slider"
    "nav            nav             nav             nav"
    "uc-leftarriba  uc-leftarriba   uc-rightarriba  uc-rightarriba"
    "uc-leftabajo   uc-leftabajo    uc-rightabajo   uc-rightabajo"
    "footer         footer          footer          footer";
}

/**********************************************************************************/

.formindex>*{
    background-color: #666;
    border:medium solid #222;
}



/*****************************************************************************************/


/**************************Asigno clases a las celdas del grid**********************************/
.header{
grid-area: header;
}

.nav{
    grid-area:nav;
}

.slider{
    grid-area: slider;
}
.uc-leftarriba{
    grid-area: uc-leftarriba;
}

.uc-rightarriba{
    grid-area:uc-rightarriba ;
}

.uc-rightabajo{
    grid-area:uc-rightabajo ;
}
.uc-leftabajo{
    grid-area: uc-leftabajo;
}
.footer{
    grid-area:footer;
}

/*********************************************************************************/

/***************creo el grid para celular, form de lista de productos***************/
.formcontenedor{
    margin:0;
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "header             header"
    "catalogoproductos catalogoproductos"
    "footer footer";
}

.formcontenedor>*{
    background-color: #666;
    border:medium solid #222;
}

/********************************************************************************/

/****************************creo el grid para celular***************************/
.formcontactos{
    margin:0;
    min-height: 100vh;
    display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,auto);
  grid-template-areas:
  "header             header"
  "contactospadre     contactospadre"
  "footer             footer";
}

/********************************************************************************/
.formcontactos>*{
    background-color: #666;
    border:medium solid #222;
}

/********************************************************************************/



/****************************aplico FLEXBOX a contactos***************************/
.contactosPadre{
    grid-area: contactospadre;/*contactospadre esta declarado en grid-template-areas*/
    display: flex;
    flex-direction: column; /*su direccion sera como columna y no como row*/
    flex-wrap: wrap; /* cuando se queda sin espacio en el contenedor genera una nueva columna*/
    justify-content: space-evenly;/*asigno mismo espacio entre los elementos*/
    text-align: center;
}
.contactoshijos{
    border:medium solid #999;
   /* width: 100%;*/
    /*height: 30%;*/
    background-color: #666;   
}

/********************************************************************************/




.header{
    grid-area: header;
}

/***************************************aplico FLEXBOX ***************************/
.catalogoproductos{
    grid-area: catalogoproductos;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*align-items: center;*/
    
}

.item{
    border:medium solid #999;
    /*width: 30%;*/
    /*height: 30%;*/
    background-color: #666;
}

/************************************************************************************/


/***************Es para que la imagen no se salga del contenedor*********************/
img{
    /*con estas dos lineas la imagen se hace responsive al contenedor*/
    max-width: 100%;
    height: auto;
    
}

/************************************************************************************/


/******con Object-fit:cover logro que la imagen ocupe todo el contenedor y no se desforme**********/
.uc-leftarriba img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.uc-rightarriba img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.uc-leftabajo img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.uc-rightabajo img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.nav img{

    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/*******************************************************************************************/


/*****************************Responsive design para desktop*********************************/

@media screen and (min-width:1024px)
{
    .formindex{
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(5,auto);

      grid-template-areas: 
      "header  header   header          header          header          header"
      "slider  slider   slider          slider          slider          slider"
      "nav     nav      uc-leftarriba   uc-leftarriba   uc-rightarriba  uc-rightarriba"
      "nav     nav      uc-leftabajo    uc-leftabajo    uc-rightabajo   uc-rightabajo"
    "footer    footer   footer          footer          footer          footer";
    }

    .formcontenedor{
    
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
        "header               header"
        "catalogoproductos    catalogoproductos"
        "footer               footer";


}

    .formcontactos{
    margin:0;
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "header               header"
    "contactospadre       contactospadre"
    "footer               footer";
}



}



/**********************************menues*****************************************/

#menu ul {
    list-style:none;/*lo utilizo para quitar los item(marcadores) de la lista*/
    margin:0;
    padding:0;
 
   }

      /* items del menu */
   
      #menu ul li {
        background-color:#2e518b; /*determino el color del menu*/
       }


       /* enlaces del menu */
   
   #menu ul a {
    display:block;
    color:#fff; /*color de letra del menu*/
    text-decoration:none;/*oculta el subrayado que muestra por defecto un enlace*/
    font-weight:400;/*determina el grosor de la fuente hasta negrita. valor inicial es 100 a valor maximo es 900*/
    font-size:15px; /*tamano de la fuente*/
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;/*tipo fuente*/
    text-transform:uppercase; /*convierto a mayuscula el texto*/
    letter-spacing:1px;/*espacio entre caracteres*/
   }

   
   /* items del menu */
   
   #menu ul li {
    position:relative;
    float:left; /*los hago flotar a la izquierda*/
    margin:0;
    padding:0;
   }

      /* efecto al pasar el mouse por los items del menu */
   
      #menu ul li:hover {
        background:#5b78a7; /*color del menu al pasar el mouse*/
       }
    

/* menu desplegable */

#menu ul ul {
    display:none; /*oculta todos los submenues*/
    position:absolute; /*posiciona el submenu justo debajo del menu productos*/
    top:100%;
    /*left:300;*/
    background:#eee;
    padding:0;
   }

      /* items del menu desplegable */
   
      #menu ul ul li {
        float:none; /*a los subitems de productos,como los quiero uno abajo del otro no le pido que floten*/
        width:150px; /*es el espacio de la caja del submenu a lo ancho*/
       }

       #menu ul ul a {
        line-height:120%;/*se emplea para controlar el interlineado del texto de los enlaces del submenu*/
        padding:10px 15px;
       }
       
       /* items del menu desplegable al pasar el ratÃ³n */
       
       #menu ul li:hover > ul {
        display:block;  /*muestra los submenues al pasar el mouse*/
       }
/***********************************fin menues***************************************/


/***********************************aplico FLEX a Promo***********************************/
.nav{
    display:flex;
    flex-direction: row;
    justify-content:center;


    /*si algun dia quiero agregar un div a la de otro div
    con su conjunto de elementos cada div, debo utilizar inline-flex */
    align-items: center;/*stretch los hijos se estiraran al tamaño del contenedor padre*/
}



/********************alineando con flex los horarios del footer****************************/
.horario{
    display:flex;
    flex-direction: row;/*alinea los elementos en fila*/
    flex-wrap: wrap;/*si se termina la caja del padre, pasa a la linea de abajo del padre*/
    /*justify-content: flex-end;*/ /*todo el contenido del padre lo lleva al final*/
justify-content: space-evenly;
}



/*****************quitando los puntos a los menues y alineando con flex*********************/

.menufoot{
  
display:flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: space-evenly;
}

.menufooterhijo ul{

list-style: none;
}
.menufooterhijo li a {
    text-decoration: none;
}

/**************************************************************************************/